#top{
    height: 50px;
    width: 100%;
    background-color: #D6D46D;
    padding: 1px;
    text-align: center;
}
.honey{
    margin-top: 20px;
    margin-left: -80%;
    color: black;
    text-align: center;
    font-size: larger;
    font-family: cursive;
}
#honey-img{
    border: 1px solid black;
    color: #D6D46D;
}